// .about-page {
//   width: 100%;
//   overflow-x: hidden;
//   background: #0f111a;
//   color: #e2e8f0;
//   padding-top: 70px; // If fixed header exists

//   section {
//     width: 100%;
//   }

//   @media (max-width: 768px) {
//     font-size: 14px;
//   }
// }
